/* ============================================================
  Accordion
============================================================ */
/* ============================================================
  Pills
============================================================ */
.nav-pills > li > a {
  border-radius: 4px;
  border: 1px solid #0071bc; }

.nav-pills > li > a:hover {
  color: #fff;
  background-color: #0071bc;
  border-color: #0071bc; }

.nav-pills > li + li {
  margin-left: 2px; }

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #0071bc; }

.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #0071bc;
  background-color: #fff;
  border: 1px solid #0071bc; }

.tab-content > .tab-pane > p,
.tab-content > .tab-pane > p > li {
  font-size: 1.2em;
  font-weight: 300; }

.tab-content > .tab-pane > ul {
  font-size: 1.2em;
  font-weight: 300; }

.tab-content {
  height: 190px;
  overflow-x: hidden; }

/* ============================================================
  Buttons
============================================================ */
.btn-primary {
  color: #0071bc;
  background-color: #ffffff;
  border-color: #0071bc;
  margin-top: 5px;
  padding: 10px; }

.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #0071bc;
  border-color: #0071bc; }

.btn-primary:hover {
  color: #ffffff;
  background-color: #0071bc;
  border-color: #0071bc; }

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #0071bc;
  border-color: #0071bc; }

/* ============================================================
  Pills
============================================================ */
.nav-pills > li > a {
  border-radius: 4px;
  border: 1px solid #0071bc; }

.nav-pills > li > a:hover {
  color: #ffffff;
  background-color: #0071bc;
  border-color: #0071bc; }

.nav-pills > li + li {
  margin-left: 2px; }

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #0071bc; }

.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #0071bc;
  background-color: #ffffff;
  border: 1px solid #0071bc; }

#age18to24 {
  background: white;
  border: white;
  border-width: 0px;
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer; }

#age25to34 {
  background: white;
  border: white;
  border-width: 0px;
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer; }

.vis-tooltip {
  position: absolute;
  white-space: nowrap;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
  color: #222;
  background-color: #fff;
  padding: .5em 1em;
  border-radius: 2px; }

.vis-caption {
  font-size: 10px; }

.vis-legend {
  font-size: 10px; }

.vis-data-label {
  text-anchor: start;
  font-size: 14px; }

.vis-axis,
.vis-x-axis,
.vis-y-axis {
  font-size: 10px;
  text-anchor: end; }
  .vis-axis .tick line,
  .vis-x-axis .tick line,
  .vis-y-axis .tick line {
    stroke: #78909C; }
    .vis--dark-background .vis-axis .tick line, .vis--dark-background
    .vis-x-axis .tick line, .vis--dark-background
    .vis-y-axis .tick line {
      stroke: #ffffff; }

.vis-y-axis .domain,
.vis-x-axis .domain {
  fill: none;
  stroke: #78909C; }
  .vis--dark-background .vis-y-axis .domain, .vis--dark-background
  .vis-x-axis .domain {
    stroke: #ffffff; }

.vis-x-axis-label,
.vis-y-axis-label {
  font-weight: bold;
  font-size: 12px;
  text-anchor: end; }

.vis-y-axis-label {
  transform: rotate(-90deg); }

.vis-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: Helvetica, Arial;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }

.vis--dark-background text {
  letter-spacing: 0.5px; }

/* ============================================================
  Map
============================================================ */
#odMap_map.svg-container {
  padding-bottom: 70%; }

#odMap_source {
  margin-top: -4em; }
  @media all and (max-width: 768px) {
    #odMap_source {
      margin-top: -2em; } }

@media all and (min-width: 768px) {
  #odMap_legend {
    max-width: 60%; } }

/* ============================================================
 Multi Maps
============================================================ */
#treatmentMaps_maps {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto; }
  #treatmentMaps_maps .map-wrapper {
    display: inline-block;
    width: 33%;
    position: relative; }
  #treatmentMaps_maps path {
    fill: #e9e9e9;
    stroke: #e9e9e9;
    stroke-width: 1px; }
  #treatmentMaps_maps .vis-title {
    width: 60%;
    position: absolute;
    bottom: 20%;
    left: 0; }
    @media screen and (max-width: 955px) and (min-width: 768px) {
      #treatmentMaps_maps .vis-title {
        bottom: 25%;
        font-size: 14px; } }
  #treatmentMaps_maps .selection-label {
    width: 60%;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    font-weight: bolder;
    font-size: 12px;
    font-family: Helvetica, Arial;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }
    @media screen and (max-width: 955px) and (min-width: 768px) {
      #treatmentMaps_maps .selection-label {
        font-size: 10px; } }
  #treatmentMaps_maps .svg-container {
    padding-bottom: 65%; }

#treatmentMaps .btn-group {
  display: none; }
  @media screen and (max-width: 768px) {
    #treatmentMaps .btn-group {
      display: inline-block;
      margin: 2em auto; } }

@media screen and (max-width: 768px) {
  #treatmentMaps[data-active-date] .map-wrapper {
    display: none; }
  #treatmentMaps[data-active-date="2005"] .map-wrapper:first-child {
    display: block; }
  #treatmentMaps[data-active-date="2010"] .map-wrapper:nth-child(2) {
    display: block; }
  #treatmentMaps[data-active-date="2014"] .map-wrapper:last-child {
    display: block; } }

@media screen and (max-width: 768px) {
  #treatmentMaps .map-wrapper {
    display: block;
    width: 100%;
    position: relative; } }

#treatmentMaps_legend.vis-legend {
  max-width: 400px; }

/* ============================================================
    Lines Death
============================================================ */
.line-death {
  stroke: #CCC;
  fill: none;
  stroke-opacity: 40%;
  stroke-width: 2px;
  stroke-dasharray: 2, 2; }

.usa {
  color: #000000;
  stroke: #000000;
  stroke-width: 2.5px;
  stroke-opacity: 75%;
  stroke-dasharray: 3, 3; }

.massachusetts {
  color: #0071bc;
  stroke: #0071bc;
  stroke-width: 2.5px;
  stroke-opacity: 100%;
  stroke-dasharray: 0, 0; }

.unfocused {
  stroke-opacity: 20% !important;
  stroke-width: 0.5px; }

.focused {
  stroke-width: 4px !important;
  stroke-opacity: 100%;
  stroke-dasharray: 0, 0, 0, 0 !important; }

.MDG {
  stroke: #2A2A2A;
  fill: none;
  stroke-opacity: 100%;
  stroke-width: 1px; }

.aside-ma {
  fill: #0071bc;
  font-weight: 500; }

.aside-usa {
  font-weight: 500; }

/* ============================================================
    Lines Fent
============================================================ */
#fentanyl-lines {
  fill: #ffffff; }

.unfocused {
  stroke-opacity: 100% !important;
  stroke-width: 1px !important;
  stroke-dasharray: 1, 1, 1, 1 !important; }

.focused {
  stroke-width: 4px !important;
  stroke-opacity: 100%;
  stroke-dasharray: 0, 0, 0, 0 !important; }

.focus circle {
  fill: #ffffff;
  fill-opacity: 1; }

.fentanyl_ {
  border-bottom: 4px solid #b71c1c; }

.heroin_ {
  border-bottom: 4px solid #0071bc; }

#fentanyl-lines.svg-container {
  padding-bottom: 60%; }

/* ============================================================
    Lines BSAS
============================================================ */
.bsas-controls {
  margin-bottom: 10px; }
  .bsas-controls .ui-autocomplete-input {
    padding: 4px;
    border: 1px solid #B0BEC5;
    border-radius: 4px; }
  .bsas-controls > * {
    vertical-align: middle; }
  @media screen and (max-width: 500px) {
    .bsas-controls > * {
      display: block;
      text-align: center;
      margin: 5px auto; } }

#lines-bsas .vis-y-axis line {
  stroke-width: 0.5px;
  stroke: #B0BEC5; }

#lines-bsas path {
  fill: none; }

#lines-bsas path.alcohol {
  stroke: #F98229; }

#lines-bsas path.marijuana {
  stroke: #018571; }

#lines-bsas path.none {
  stroke: #005a32; }

#lines-bsas path.opioids {
  stroke: #99000d; }

#lines-bsas path.other {
  stroke: #762a83; }

#lines-bsas .overlay {
  fill: none;
  pointer-events: all; }

#lines-bsas .focus.age line {
  stroke-width: 1px;
  stroke: #e0e0e0; }

#lines-bsas .focus.alcohol circle {
  fill: #e08214;
  stroke: #b35806; }

#lines-bsas .focus.alcohol {
  fill: #b35806; }

#lines-bsas .circle.alcohol {
  fill: #e08214;
  fill-opacity: 0.75; }

#lines-bsas .focus.marijuana circle {
  fill: #80cdc1;
  stroke: #018571; }

#lines-bsas .focus.marijuana {
  fill: #018571; }

#lines-bsas .circle.marijuana {
  fill: #80cdc1;
  fill-opacity: 0.75; }

#lines-bsas .focus.none circle {
  fill: #238b45;
  stroke: #005a32; }

#lines-bsas .focus.none {
  fill: #005a32; }

#lines-bsas .circle.none {
  fill: #238b45;
  fill-opacity: 0.75; }

#lines-bsas .focus.opioids circle {
  fill: #cb181d;
  stroke: #99000d; }

#lines-bsas .focus.opioids {
  fill: #99000d; }

#lines-bsas .circle.opioids {
  fill: #cb181d;
  fill-opacity: 0.75; }

#lines-bsas .focus.other circle {
  fill: #9970ab;
  stroke: #762a83; }

#lines-bsas .focus.other {
  fill: #762a83; }

#lines-bsas .circle.other {
  fill: #9970ab;
  fill-opacity: 0.75; }

#lines-bsas .focus text {
  font-size: 11px;
  font-weight: bolder; }

/* ============================================================
 Block Chart by Gender
============================================================ */
.controls {
  text-decoration: underline;
  cursor: pointer; }

.table th {
  text-align: center; }

.table td {
  text-align: center;
  color: white; }

.people-blocks {
  width: 100%;
  margin: auto;
  text-align: center; }

.group {
  display: inline-block; }

.block-chart {
  height: 300px;
  margin: 20px;
  position: relative;
  width: 300px;
  display: inline-block; }

.block {
  -webkit-mask: url(../img/person.svg) no-repeat 50% 50%;
  mask: url(../img/person.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  float: left;
  height: 9%;
  width: 9%;
  margin: 0.5%;
  position: relative;
  opacity: 1; }
  .block:after {
    content: attr(data-index); }

.type_gender0 {
  background: #B3E5FC; }

.type_gender2 {
  background: #0D47A1;
  fill: #0D47A1; }

.type_gender1 {
  background: #64B5F6;
  fill: #64B5F6; }

.type_gender3 {
  background: #880E4F;
  fill: #880E4F; }

.type_gender4 {
  background: #FF80AB;
  fill: #FF80AB; }

.type_gender5 {
  background: #ffcdd2; }

/* ============================================================
 Block Chart by Substance
============================================================ */
.type_substance0 {
  background: #b71c1c; }

.type_substance1 {
  background: #B0BEC5; }

#timeline_blocks::-webkit-slider-thumb {
  background: #b71c1c; }

#table_substance td {
  width: 50%; }

.left {
  text-align: left; }

#timeline_blocks::-webkit-slider-thumb {
  background-color: #b71c1c; }

.red {
  font-weight: bold;
  color: #b71c1c; }

/* ============================================================
 Bar
============================================================ */
#bar {
  position: relative; }

#value {
  font-size: 12px; }

/* ============================================================
 Bar Chart by Age Groups
============================================================ */
.malFocus,
.bar.malFocus,
.dots.malFocus {
  fill: #64B5F6; }

.femFocus,
.bar.femFocus,
.dots.femFocus {
  fill: #FF80AB; }

.dots.hoverFocus {
  fill: #52524E;
  opacity: 1; }

.age_bars_legend {
  fill: #666666; }

.femSelector {
  fill: #980043 !important; }

.malSelector {
  fill: #08306b !important; }

/* ============================================================
 Bar Chart by Race and Ethnicity
============================================================ */
.range-slider {
  position: relative;
  width: 90%; }
  .range-slider .from-year,
  .range-slider .to-year {
    color: #0071bc; }
  .range-slider .from-year {
    color: #B0BEC5;
    position: absolute;
    top: -10px;
    left: -10px; }
  .range-slider .to-year {
    color: #B0BEC5;
    position: absolute;
    top: -10px;
    right: -10px; }
  .range-slider .year {
    font-weight: bolder; }
  .range-slider .label {
    font-size: 2em; }
  .range-slider input {
    position: relative; }
    .range-slider input[type=range] {
      -webkit-appearance: none; }
      .range-slider input[type=range]::-webkit-slider-runnable-track {
        width: 50px;
        height: 3px;
        background: #B0BEC5;
        border: none;
        border-radius: 3px; }
      .range-slider input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 1px solid white;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        background: #0071bc;
        margin-top: -7px; }
      .range-slider input[type=range]:focus {
        outline: none; }
        .range-slider input[type=range]:focus::-webkit-slider-runnable-track {
          background: #78909C; }

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  /* aspect ratio */
  vertical-align: top;
  overflow: hidden; }

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0; }

/* ============================================================
  Nav
============================================================ */
#alert {
  color: yellow;
  top: 0;
  position: absolute; }

#navbar-main {
  /* Added `.affix-top` class css when the element is top */
  /* Added `.affix-bottom` class css when the element is footer */ }
  #navbar-main.affixed-top {
    background: #000000; }
  #navbar-main.affix {
    background: gray;
    top: 0;
    left: 0;
    right: 0; }
  #navbar-main.affix-bottom {
    background: red; }

.navbar-inverse {
  background-color: #205493;
  border-color: #000000; }

#current-section {
  display: block; }

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0; }

section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", "Merriweather", "Georgia", "Times New Roman", serif;
  font-size: 30px; }

#POD,
#DR,
#NOD {
  font-size: 8pt; }

section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300; }

section.module p:last-child {
  margin-bottom: 0; }

section.module.content {
  padding: 40px 0; }

section.module.parallax {
  color: #ffffff;
  padding: 50px 0;
  background-position: center bottom;
  background-size: cover; }

section.module.parallax h1 {
  font-size: 38px;
  line-height: 1;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 0 0 10px #ffffff; }

section.module.parallax-1 {
  padding: 0;
  margin: auto;
  background-color: #000000; }

section.module.parallax-2 {
  /*  color: $color-black;*/
  background-image: url("../img/addiction.png"); }

section.module.parallax-1-1 {
  background-image: url("../img/chapter55.jpg"); }

section.module.parallax-3 {
  background-image: url("../img/prescription.jpg"); }

section.module.parallax-4 {
  background-image: url("../img/populations.png"); }

section.module.parallax-5 {
  background-image: url("../img/future.jpg"); }

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 28px; }
  section.module p {
    font-size: 20px; }
  section.module.parallax.parallax-1 {
    padding: 50px 0; }
  video {
    display: block; } }

@media all and (min-width: 768px) {
  section.module.parallax h1 {
    font-size: 80px; }
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px; }
  #current-section {
    display: none; } }

@media all and (min-width: 960px) {
  section.module.parallax {
    padding: 150px 0; }
  section.module.parallax h1 {
    font-size: 80px; }
  #current-section {
    display: none; } }

@media all and (min-width: 1440px) {
  section.module.parallax h1 {
    font-size: 100px; }
  section.module.parallax {
    padding: 220px 0; }
  #current-section {
    display: none; } }

.wrapper {
  background-color: #000000; }

.content {
  background-color: #ffffff; }

.overlay-container {
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 1; }

.video-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  overflow: hidden; }

video {
  /*  height: 500px;*/
  width: 100%;
  z-index: -1;
  margin-bottom: 50px; }

.callout {
  background-color: #78909C;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px; }
  .callout h2 {
    padding-bottom: 18px;
    border-bottom: 1px solid #ffffff; }

.expandable {
  padding: 3px 5px;
  border-bottom: 3px solid #78909C;
  display: inline;
  cursor: pointer; }

.expandable:hover {
  background-color: #78909C;
  color: #ffffff; }

.space-col {
  height: 100px;
  width: 100%; }

.neg-space-col {
  margin-top: -30px; }

.neg-space-col-md {
  margin-top: -100px; }

.neg-space-col-lg {
  margin-top: -150px; }

#odInfographic {
  max-width: 400px;
  max-height: 400px; }

.center {
  text-align: center;
  margin: auto; }

.title {
  color: #455A64;
  font-weight: normal; }

.subtitle {
  color: #455A64;
  font-size: 12px;
  font-weight: normal; }

.source {
  color: #607D8B;
  font-size: 12px;
  text-align: left;
  padding-top: 10px; }
  .source a {
    font-style: italic;
    color: #0071bc; }

.sourcecallout {
  color: #b7c6cd;
  font-size: 12px;
  text-align: left;
  padding-top: 10px; }
  .sourcecallout a {
    font-style: italic;
    color: #d5dee2; }

/* ============================================================
  Footer
============================================================ */
#logo {
  display: block; }

#circle {
  width: 150px;
  height: 150px;
  border: 2px solid #ffffff;
  border-radius: 50%; }

footer {
  color: #ffffff;
  padding: 30px;
  background-color: #B0BEC5; }

.sources-section {
  background: #333333;
  color: #ffffff;
  padding: 5em 0; }
