/* ============================================================
  Accordion
============================================================ */
/* ============================================================
  Pills
============================================================ */
.nav-pills > li > a {
  border-radius: 4px;
  border: 1px solid #0071bc; }

.nav-pills > li > a:hover {
  color: #fff;
  background-color: #0071bc;
  border-color: #0071bc; }

.nav-pills > li + li {
  margin-left: 2px; }

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #0071bc; }

.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #0071bc;
  background-color: #fff;
  border: 1px solid #0071bc; }

.tab-content > .tab-pane > p,
.tab-content > .tab-pane > p > li {
  font-size: 1.2em;
  font-weight: 300; }

.tab-content > .tab-pane > ul {
  font-size: 1.2em;
  font-weight: 300; }

/* ============================================================
  Buttons
============================================================ */
.btn-primary {
  color: #0071bc;
  background-color: #ffffff;
  border-color: #0071bc; }

.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #0071bc;
  border-color: #0071bc; }

.btn-primary:hover {
  color: #ffffff;
  background-color: #0071bc;
  border-color: #0071bc; }

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #0071bc;
  border-color: #0071bc; }

/* ============================================================
  Pills
============================================================ */
.nav-pills > li > a {
  border-radius: 4px;
  border: 1px solid #0071bc; }

.nav-pills > li > a:hover {
  color: #ffffff;
  background-color: #0071bc;
  border-color: #0071bc; }

.nav-pills > li + li {
  margin-left: 2px; }

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #0071bc; }

.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #0071bc;
  background-color: #ffffff;
  border: 1px solid #0071bc; }

#age18to24 {
  background: white;
  border: white;
  border-width: 0px;
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer; }

#age25to34 {
  background: white;
  border: white;
  border-width: 0px;
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer; }

.vis-tooltip {
  position: absolute;
  white-space: nowrap;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
  color: #222;
  background-color: #fff;
  padding: .5em 1em;
  border-radius: 2px; }

.vis-caption {
  font-size: 10px; }

.vis-legend {
  font-size: 10px; }

.vis-data-label {
  text-anchor: start;
  font-size: 14px; }

.vis-axis,
.vis-x-axis,
.vis-y-axis {
  font-size: 10px;
  text-anchor: end; }
  .vis-axis .tick line,
  .vis-x-axis .tick line,
  .vis-y-axis .tick line {
    stroke: #5a707a; }
    .vis--dark-background .vis-axis .tick line, .vis--dark-background
    .vis-x-axis .tick line, .vis--dark-background
    .vis-y-axis .tick line {
      stroke: #ffffff; }

.vis-y-axis .domain,
.vis-x-axis .domain {
  fill: none;
  stroke: #5a707a; }

.vis-x-axis-label,
.vis-y-axis-label {
  font-weight: bold;
  font-size: 12px;
  text-anchor: middle; }

.vis-y-axis-label {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.vis-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: Helvetica, Arial;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }

/* ============================================================
 Multi Maps
============================================================ */
#treatmentMaps_maps {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto; }
  #treatmentMaps_maps .map-wrapper {
    display: inline-block;
    width: 50%;
    position: relative; }
  #treatmentMaps_maps path {
    fill: #e9e9e9;
    stroke: #e9e9e9;
    stroke-width: 1px; }
  #treatmentMaps_maps .vis-title {
    width: 60%;
    position: absolute;
    bottom: 25%;
    left: 0; }
    @media screen and (max-width: 955px) and (min-width: 768px) {
      #treatmentMaps_maps .vis-title {
        bottom: 30%;
        font-size: 14px; } }
  #treatmentMaps_maps .selection-label {
    width: 60%;
    text-align: center;
    position: absolute;
    bottom: 20%;
    left: 0;
    font-weight: bolder;
    font-size: 12px;
    font-family: Helvetica, Arial;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }
    @media screen and (max-width: 955px) and (min-width: 768px) {
      #treatmentMaps_maps .selection-label {
        font-size: 10px; } }
  #treatmentMaps_maps .svg-container {
    padding-bottom: 60%; }

#treatmentMaps .btn-group {
  display: none; }
  @media screen and (max-width: 768px) {
    #treatmentMaps .btn-group {
      display: inline-block;
      margin: 2em auto; } }

@media screen and (max-width: 768px) {
  #treatmentMaps[data-active-date] .map-wrapper {
    display: none; }
  #treatmentMaps[data-active-date="2000"] .map-wrapper:first-child {
    display: block; }
  #treatmentMaps[data-active-date="2005"] .map-wrapper:nth-child(2) {
    display: block; }
  #treatmentMaps[data-active-date="2010"] .map-wrapper:nth-child(3) {
    display: block; }
  #treatmentMaps[data-active-date="2015"] .map-wrapper:last-child {
    display: block; } }

@media screen and (max-width: 768px) {
  #treatmentMaps .map-wrapper {
    display: block;
    width: 100%;
    position: relative; } }

#treatmentMaps_legend.vis-legend {
  max-width: 400px; }

/* ============================================================
 Multi Maps
============================================================ */
#binaryMaps_maps {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto; }
  #binaryMaps_maps .map-wrapper {
    display: inline-block;
    width: 33%;
    position: relative; }
  #binaryMaps_maps path {
    fill: #e9e9e9;
    stroke: #e9e9e9;
    stroke-width: 1px; }
  #binaryMaps_maps .vis-title {
    width: 60%;
    position: absolute;
    bottom: 20%;
    left: 0; }
    @media screen and (max-width: 955px) and (min-width: 768px) {
      #binaryMaps_maps .vis-title {
        bottom: 25%;
        font-size: 14px; } }
  #binaryMaps_maps .selection-label {
    width: 60%;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    font-weight: bolder;
    font-size: 12px;
    font-family: Helvetica, Arial;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }
    @media screen and (max-width: 955px) and (min-width: 768px) {
      #binaryMaps_maps .selection-label {
        font-size: 10px; } }
  #binaryMaps_maps .svg-container {
    padding-bottom: 65%; }

#binaryMaps .btn-group {
  display: none; }
  @media screen and (max-width: 1024px) {
    #binaryMaps .btn-group {
      display: inline-block;
      margin: 2em auto; } }

@media screen and (max-width: 1024px) {
  #binaryMaps[data-active-date] .map-wrapper {
    display: none; }
  #binaryMaps[data-active-date="2005"] .map-wrapper:first-child {
    display: block; }
  #binaryMaps[data-active-date="2010"] .map-wrapper:nth-child(2) {
    display: block; }
  #binaryMaps[data-active-date="2015"] .map-wrapper:last-child {
    display: block; } }

@media screen and (max-width: 1024px) {
  #binaryMaps .map-wrapper {
    display: block;
    width: 100%;
    position: relative; } }

#binaryMaps_legend.vis-legend {
  max-width: 400px; }

/* ============================================================
    Lines Death
============================================================ */
.line-death {
  stroke: #CCC;
  fill: none;
  stroke-opacity: 40%;
  stroke-width: 2px;
  stroke-dasharray: 2, 2; }

.usa {
  color: #000000;
  stroke: #000000;
  stroke-width: 2.5px;
  stroke-opacity: 75%;
  stroke-dasharray: 3, 3; }

.massachusetts {
  color: #0071bc;
  stroke: #0071bc;
  stroke-width: 2.5px;
  stroke-opacity: 100%;
  stroke-dasharray: 0, 0; }

.unfocused {
  stroke-opacity: 20% !important;
  stroke-width: 0.5px; }

.focused {
  stroke-width: 4px !important;
  stroke-opacity: 100%;
  stroke-dasharray: 0, 0, 0, 0 !important; }

.MDG {
  stroke: #2A2A2A;
  fill: none;
  stroke-opacity: 100%;
  stroke-width: 1px; }

.aside-ma {
  fill: #0071bc;
  font-weight: 500; }

.aside-usa {
  font-weight: 500; }

/* ============================================================
    Lines Fent
============================================================ */
.unfocused {
  stroke-opacity: 100% !important;
  stroke-width: 1px !important;
  stroke-dasharray: 1, 1, 1, 1 !important; }

.focused {
  stroke-width: 4px !important;
  stroke-opacity: 100%;
  stroke-dasharray: 0, 0, 0, 0 !important; }

.focus circle {
  fill: #ffffff;
  fill-opacity: 1; }

.fentanyl_ {
  border-bottom: 4px solid #b71c1c; }

.heroin_ {
  border-bottom: 4px solid #0071bc; }

#fentanyl-lines.svg-container {
  padding-bottom: 60%; }

/* ============================================================
    Lines BSAS
============================================================ */
.bsas-controls {
  margin-bottom: 10px; }
  .bsas-controls .ui-autocomplete-input {
    padding: 4px;
    border: 1px solid #B0BEC5;
    border-radius: 4px; }
  .bsas-controls > * {
    vertical-align: middle; }
  @media screen and (max-width: 500px) {
    .bsas-controls > * {
      display: block;
      text-align: center;
      margin: 5px auto; } }

#lines-bsas .vis-y-axis line {
  stroke-width: 0.5px;
  stroke: #B0BEC5; }

#lines-bsas path {
  fill: none; }

#lines-bsas path.alcohol {
  stroke: #F98229; }

#lines-bsas path.marijuana {
  stroke: #018571; }

#lines-bsas path.none {
  stroke: #005a32; }

#lines-bsas path.opioids {
  stroke: #99000d; }

#lines-bsas path.other {
  stroke: #762a83; }

#lines-bsas .overlay {
  fill: none;
  pointer-events: all; }

#lines-bsas .focus.age line {
  stroke-width: 1px;
  stroke: #e0e0e0; }

#lines-bsas .focus.alcohol circle {
  fill: #e08214;
  stroke: #b35806; }

#lines-bsas .focus.alcohol {
  fill: #b35806; }

#lines-bsas .circle.alcohol {
  fill: #e08214;
  fill-opacity: 0.75; }

#lines-bsas .focus.marijuana circle {
  fill: #80cdc1;
  stroke: #018571; }

#lines-bsas .focus.marijuana {
  fill: #018571; }

#lines-bsas .circle.marijuana {
  fill: #80cdc1;
  fill-opacity: 0.75; }

#lines-bsas .focus.none circle {
  fill: #238b45;
  stroke: #005a32; }

#lines-bsas .focus.none {
  fill: #005a32; }

#lines-bsas .circle.none {
  fill: #238b45;
  fill-opacity: 0.75; }

#lines-bsas .focus.opioids circle {
  fill: #cb181d;
  stroke: #99000d; }

#lines-bsas .focus.opioids {
  fill: #99000d; }

#lines-bsas .circle.opioids {
  fill: #cb181d;
  fill-opacity: 0.75; }

#lines-bsas .focus.other circle {
  fill: #9970ab;
  stroke: #762a83; }

#lines-bsas .focus.other {
  fill: #762a83; }

#lines-bsas .circle.other {
  fill: #9970ab;
  fill-opacity: 0.75; }

#lines-bsas .focus text {
  font-size: 11px;
  font-weight: bolder; }

#toggleOpioidsY2000, #toggleOpioidsY2015 {
  background: white;
  border: white;
  border-width: 0px;
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer;
  box-shadow: none;
  padding: 0px 0px; }

/* ============================================================
 Block Chart by Gender
============================================================ */
.controls {
  text-decoration: underline;
  cursor: pointer; }

.table th {
  text-align: center; }

.table td {
  text-align: center; }

.people-blocks {
  width: 100%;
  margin: auto;
  text-align: center; }

.block-chart {
  height: 300px;
  margin: 20px;
  position: relative;
  width: 300px;
  display: inline-block; }

.block {
  float: left;
  height: 9%;
  width: 9%;
  margin: 0.5%;
  position: relative;
  opacity: 1; }
  .block:after {
    content: attr(data-index); }

.type_gender0 {
  background: #BBDEFB;
  fill: #BBDEFB;
  color: #000000; }

.type_gender1 {
  background: #2196F3;
  fill: #2196F3;
  color: #ffffff; }

.type_gender2 {
  background: #1A237E;
  fill: #1A237E;
  color: #ffffff; }

.type_gender3 {
  background: #b71c1c;
  fill: #b71c1c;
  color: #ffffff; }

.type_gender4 {
  background: #ff5252;
  fill: #ff5252;
  color: #ffffff; }

.type_gender5 {
  background: #ffcdd2;
  fill: #ffcdd2;
  color: #000000; }

/* ============================================================
 Block Chart by Substance
============================================================ */
.type_substance0 {
  background: #b71c1c;
  fill: #b71c1c; }

.type_substance1 {
  background: #5a707a;
  fill: #5a707a; }

.block {
  background: none; }

#timeline_blocks::-webkit-slider-thumb {
  background: #b71c1c; }

#table_substance td {
  width: 50%; }

.left {
  text-align: left; }

.red {
  font-weight: bold;
  color: #b71c1c; }

#table_substance td {
  color: #ffffff; }

/* ============================================================
 Bar
============================================================ */
#bar {
  margin: -25px 0; }

/* ============================================================
 Bar Chart by Age Groups
============================================================ */
.malFocus,
.bar.malFocus,
.dots.malFocus {
  fill: #2196F3; }

.femFocus,
.bar.femFocus,
.dots.femFocus {
  fill: #b71c1c; }

.dots.hoverFocus {
  fill: #52524E;
  opacity: 1; }

.age_bars_legend {
  fill: #666666; }

.femSelector {
  fill: #ffcdd2 !important; }

.malSelector {
  fill: #BBDEFB !important; }

.ageSelector {
  font-weight: bolder !important; }

.noageSelector {
  font-weight: lighter !important;
  color: #78909C !important; }

/* ============================================================
 Bar Chart by Race and Ethnicity
============================================================ */
.bars_race_error {
  fill: none;
  stroke: #0071bc;
  stroke-width: 1px;
  shape-rendering: crispEdges; }

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  /* aspect ratio */
  vertical-align: top;
  overflow: hidden; }

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0; }

@font-face {
  /* declare fonts */
  font-family: "Glyphicons";
  src: url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.eot") format("eot"), url("../fonts/glyphicons-halflings-regular.ttf") format("ttf"), url("../fonts/glyphicons-halflings-regular.svg") format("svg"); }

/* utilities */
.px-video-container {
  position: relative;
  background-color: #000000; }

.controls-left {
  width: 30%;
  float: left; }

.controls-right {
  width: 70%;
  float: right;
  text-align: right; }
  .controls-right > * {
    vertical-align: middle;
    text-align: left;
    padding-left: 1em; }

@media screen and (max-width: 450px) {
  .controls-left {
    width: 100%; }
  .controls-right {
    width: 100%; } }

.hide {
  display: none; }

.show-inline {
  display: inline-block; }

/* containers */
.px-video-img-captions-container {
  position: relative; }
  .px-video-img-captions-container * {
    box-sizing: border-box; }

.px-video-controls {
  margin-top: -5px;
  background-color: #ffffff; }

/* progress indicator */
.px-video-progress {
  width: 100%;
  height: 8px; }
  .px-video-progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    border: none; }
    .px-video-progress[value]::-webkit-progress-bar {
      background-color: #ECEFF1; }
    .px-video-progress[value]::-webkit-progress-value {
      background-color: #0071bc; }

/* caption area */
.px-video-captions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: .5em 2em;
  min-height: 2.5em;
  background-color: #000;
  color: #fff;
  font-size: 1.1em;
  text-align: center;
  opacity: 0.75; }

/* buttons */
.px-video-controls button {
  font-size: .9em;
  border: 1px #fff solid;
  background: transparent;
  padding: 0;
  margin: 0 .3em;
  width: 20px;
  height: 20px;
  cursor: pointer;
  /* restart button */
  /* rewind button */
  /* play button */
  /* pause button */
  /* forward button */ }
  .px-video-controls button:focus {
    border: 1px #999 dotted;
    outline: none; }
  .px-video-controls button.px-video-restart {
    position: relative; }
    .px-video-controls button.px-video-restart:before {
      font-family: 'Glyphicons';
      content: "\e070";
      position: absolute;
      top: 3px; }
    .px-video-controls button.px-video-restart:hover, .px-video-controls button.px-video-restart:focus {
      color: #0071bc; }
  .px-video-controls button.px-video-rewind {
    position: relative; }
    .px-video-controls button.px-video-rewind:before {
      font-family: 'Glyphicons';
      content: "\e071";
      position: absolute;
      top: 3px; }
    .px-video-controls button.px-video-rewind:hover, .px-video-controls button.px-video-rewind:focus {
      color: #0071bc; }
  .px-video-controls button.px-video-play {
    position: relative; }
    .px-video-controls button.px-video-play:before {
      font-family: 'Glyphicons';
      content: "\e072";
      position: absolute;
      top: 3px; }
    .px-video-controls button.px-video-play:hover, .px-video-controls button.px-video-play:focus {
      color: #0071bc; }
  .px-video-controls button.px-video-pause {
    position: relative; }
    .px-video-controls button.px-video-pause:before {
      font-family: 'Glyphicons';
      content: "\e073";
      position: absolute;
      top: 3px; }
    .px-video-controls button.px-video-pause:hover, .px-video-controls button.px-video-pause:focus {
      color: #0071bc; }
  .px-video-controls button.px-video-forward {
    position: relative; }
    .px-video-controls button.px-video-forward:before {
      font-family: 'Glyphicons';
      content: "\e075";
      position: absolute;
      top: 3px; }
    .px-video-controls button.px-video-forward:hover, .px-video-controls button.px-video-forward:focus {
      color: #0071bc; }

/* mute button */
.px-video-mute-btn-container {
  display: inline-block; }

.px-video-mute-btn-container label {
  display: inline-block;
  width: 25px;
  height: 20px;
  position: relative; }
  .px-video-mute-btn-container label:before {
    font-family: 'Glyphicons';
    content: "\e038";
    position: absolute;
    top: 3px; }

.px-video-mute-btn-container input[type="checkbox"]:focus + label {
  outline: 1px #999 dotted; }

.px-video-mute-btn-container input[type="checkbox"]:hover + label {
  cursor: pointer; }

.px-video-mute-btn-container input[type="checkbox"]:focus + label {
  outline: 1px #999 dotted; }

.px-video-mute-btn-container input[type="checkbox"]:checked + label:before {
  font-family: 'Glyphicons';
  content: "\e036";
  position: absolute;
  top: 3px; }

/* volume range input */
.px-video-controls input[type='range'] {
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
  height: 3px;
  width: 100px;
  background-color: #B0BEC5;
  outline: none; }
  .px-video-controls input[type='range']:focus::-webkit-slider-thumb {
    outline: 1px #999 dotted; }
  .px-video-controls input[type='range']::-moz-range-track {
    -moz-appearance: none;
    background-color: #B0BEC5;
    border: none; }
  .px-video-controls input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: #000; }
  .px-video-controls input[type='range']::-moz-range-thumb {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: #000; }

/* captions button */
.px-video-captions-btn-container {
  display: inline-block; }

.px-video-captions-btn-container label {
  display: inline-block;
  width: 25px;
  height: 20px;
  position: relative; }
  .px-video-captions-btn-container label:before {
    font-family: 'Glyphicons';
    content: "\e188";
    position: absolute;
    top: 3px; }

.px-video-captions-btn-container input[type="checkbox"]:focus + label {
  outline: 1px #999 dotted; }

.px-video-captions-btn-container input[type="checkbox"]:hover + label {
  cursor: pointer; }

.px-video-captions-btn-container input[type="checkbox"]:focus + label {
  outline: 1px #999 dotted; }

.px-video-captions-btn-container input[type="checkbox"]:checked + label {
  color: #0071bc; }

/* fullscreen button */
.px-video-fullscreen-btn-container label {
  display: inline-block;
  width: 25px;
  height: 20px;
  position: relative; }
  .px-video-fullscreen-btn-container label:before {
    font-family: 'Glyphicons';
    content: "\e140";
    position: absolute;
    top: 3px; }

.px-video-fullscreen-btn-container input[type="checkbox"]:focus + label {
  outline: 1px #999 dotted; }

.px-video-fullscreen-btn-container input[type="checkbox"]:hover + label {
  cursor: pointer; }

.px-video-fullscreen-btn-container input[type="checkbox"]:focus + label {
  outline: 1px #999 dotted; }

.px-video-fullscreen-btn-container input[type="checkbox"]:checked + label:before {
  font-family: 'Glyphicons';
  content: "\e097";
  position: absolute;
  top: 3px; }

.px-video-fullscreen-btn-container input[type="checkbox"]:checked:hover + label {
  color: #0071bc; }

/* time */
.px-video-time {
  display: inline-block; }

/* fixing display for IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .px-video-controls input[type='range'] {
    position: relative;
    padding: 0;
    height: 8px;
    top: -3px; }
  .px-video-time {
    margin-top: 3px; }
  .px-video-captions {
    padding: 8px;
    min-height: 36px; } }

.px-video-container.fullscreen {
  position: fixed;
  top: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-cursor-visibility: auto-hide; }
  .px-video-container.fullscreen .px-video-img-captions-container {
    height: 100%; }
  .px-video-container.fullscreen .px-video-controls {
    opacity: 0;
    -webkit-transition: opacity 350ms ease-in-out;
    transition: opacity 350ms ease-in-out; }
    .px-video-container.fullscreen .px-video-controls:hover {
      opacity: 1; }

/* Fullscreen styles */
/* style applied through js */
.px-video-controls.js-fullscreen-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 940;
  background: white; }

.px-video-captions.js-fullscreen-captions {
  min-height: 3.5em;
  font-size: 2.5em;
  padding: 1em 0 2em; }

.placeholder {
  font-size: 12px;
  color: #5a707a;
  font-style: italic; }

/* ============================================================
  Nav
============================================================ */
.h1-sm {
  font-size: 30px; }

#alert {
  color: yellow;
  top: 0;
  position: absolute; }

#navbar-main {
  /* Added `.affix-top` class css when the element is top */
  /* Added `.affix-bottom` class css when the element is footer */ }
  #navbar-main.affixed-top {
    background: #000000; }
  #navbar-main.affix {
    background: gray;
    top: 0;
    left: 0;
    right: 0; }
  #navbar-main.affix-bottom {
    background: red; }

.navbar-inverse {
  background-color: #205493;
  border-color: #000000; }

#current-section {
  margin-top: 4px;
  display: block; }

/* ============================================================
  SECTIONS
============================================================ */
.h1-sm {
  font-size: 30px; }

.module:last-child {
  margin-bottom: 0; }

.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", "Merriweather", "Georgia", "Times New Roman", serif;
  font-size: 30px; }

.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300; }

.module p:last-child {
  margin-bottom: 0; }

.module.content {
  padding: 40px 0; }

.module.parallax {
  color: #ffffff;
  padding: 50px 0;
  background-position: center bottom;
  background-size: cover; }

.module.parallax h1 {
  font-family: "Helvetica Neue", "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 38px;
  line-height: 1;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 0 0 10px #ffffff; }

.module.parallax-1 {
  padding: 0;
  margin: auto;
  background-color: #000000; }

.module.parallax-2 {
  /*  color: $color-black;*/
  background-image: url("../img/addiction.png"); }

.module.parallax-1-1 {
  background-image: url("../img/chapter55.jpg"); }

.module.parallax-3 {
  background-image: url("../img/prescription.jpg"); }

.module.parallax-4 {
  background-image: url("../img/populations.png"); }

.module.parallax-5 {
  background-image: url("../img/future.jpg"); }

#top {
  padding: 0; }

.module h2 {
  font-size: 23px; }

@media all and (min-width: 600px) {
  .module p {
    font-size: 20px; } }

@media all and (min-width: 768px) {
  .module.parallax h1 {
    font-size: 80px; }
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px; }
  #current-section {
    display: none; }
  .neg-space-col-md {
    margin-top: -30px; } }

@media all and (min-width: 991px) {
  .module.parallax {
    padding: 150px 0; }
  .module.parallax h1 {
    font-size: 80px; }
  .module h2 {
    font-size: 28px; }
  #current-section {
    display: none; }
  .neg-space-col-md {
    margin-top: -30px; }
  #top {
    padding: 0; }
  .header-vid-space {
    margin-top: 20px; }
  .space-col {
    height: 100px;
    width: 100%; } }

@media all and (min-width: 1440px) {
  .module.parallax h1 {
    font-size: 100px; }
  .module.parallax {
    padding: 220px 0; }
  #current-section {
    display: none; }
  #top {
    padding: 50px 0 0; }
  .neg-space-col-md {
    margin-top: -100px; }
  .header-vid-space {
    margin-top: 0px; }
  .space-col {
    height: 100px;
    width: 100%; } }

.wrapper {
  background-color: #000000; }

.content {
  background-color: #ffffff; }

.overlay-container {
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 1; }

.video-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  overflow: hidden; }

video {
  width: 100%;
  z-index: -1; }

.callout {
  background-color: #ECEFF1;
  border: 1px solid #d5dbe0;
  color: #000000;
  padding: 19px;
  border-radius: 2px;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1); }
  .callout .h3-sm {
    font-size: 1.5em; }
  .callout a {
    color: #205493; }

.expandable {
  padding: 3px 5px;
  border-bottom: 3px solid #5a707a;
  display: inline;
  cursor: pointer; }

.expandable:hover {
  background-color: #5a707a;
  color: #ffffff; }

.neg-space-col {
  margin-top: -30px; }

.neg-space-col-lg {
  margin-top: -150px; }

#odInfographic {
  max-width: 260px;
  max-height: 260px; }
  #odInfographic svg {
    width: 100%; }

.center {
  text-align: center;
  margin: auto; }

.title {
  color: #455A64;
  font-weight: normal; }

.subtitle {
  color: #455A64;
  font-size: 12px;
  font-weight: normal; }

.source {
  color: #5a707a;
  font-size: 11.5px;
  text-align: left;
  padding-top: 10px; }
  .source a {
    font-style: normal;
    color: #0071bc;
    text-decoration: underline; }

.sourcecallout {
  color: #455A64;
  font-size: 11.5px;
  text-align: left;
  padding-top: 10px; }
  .sourcecallout a {
    font-style: normal;
    text-decoration: underline;
    color: #205493; }

/* ============================================================
  Footer
============================================================ */
.logo {
  display: block;
  max-width: 150px; }

footer {
  color: #ffffff;
  padding: 30px;
  background-color: #455A64; }

.sources-section {
  background: #333333;
  color: #ffffff;
  padding: 5em 0; }

.page-scroll sup {
  font-size: 60%;
  color: #205493; }

.sources-section li {
  background: transparent;
  -webkit-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out; }

.sources-section li:target {
  background: rgba(255, 255, 255, 0.1); }
