/* ============================================================
 Bar Chart by Age Groups
============================================================ */

.malFocus,
.bar.malFocus,
.dots.malFocus {
    fill: $color-male-alt;
}

.femFocus,
.bar.femFocus,
.dots.femFocus {
    fill: $color-female-alt;
}

// .bar {
//   &.malFocus:hover {
//     fill: #08306b;
//   }
//   &.femFocus:hover {
//     fill: #980043;
//   }
//   &.hoverFocus {
//     fill: #52524E;
//     opacity: 1;
//   }
// }
.dots.hoverFocus {
    fill: #52524E;
    opacity: 1;
}

.age_bars_legend {
	fill: rgb(102, 102, 102);
}
.femSelector{
	fill: $color-female-light !important;
}
.malSelector{
	fill: $color-male-light !important;
}
.ageSelector{
	font-weight: bolder !important;
}
.noageSelector{
	font-weight: lighter !important;
	color: #78909C !important
;}