/* ============================================================
 Block Chart by Substance
============================================================ */

.type_substance0 {
    background: $color-secondary;
}

.type_substance1 {
    background: $color-gray;
}

#timeline_blocks {
    &::-webkit-slider-thumb {
        background: $color-secondary;
    }
}

#table_substance {
    td {
        width: 50%;
    }
}

.left {
    text-align: left;
}

.red {
    font-weight: bold;
    color: #b71c1c;
}

#table_substance td {
    color: $color-white;
}


/* ============================================================
 Bar
============================================================ */

#bar {
    margin: -25px 0;
    //border: 1px solid #b71c1c;
}
