/* ============================================================
 Block Chart by Gender
============================================================ */

.controls {
    text-decoration: underline;
    cursor: pointer;
}

.table {
    th {
        text-align: center;
    }
    td {
        text-align: center;
    }
}

.people-blocks {
    width: 100%;
    margin: auto;
    text-align: center;
}

.group {
    display: inline-block;
}

.block-chart {
    height: 300px;
    // overflow: hidden;
    margin: 20px;
    position: relative;
    width: 300px;
    display: inline-block;
}

.block {
    -webkit-mask: url(../img/person.svg) no-repeat 50% 50%;
    mask: url(../img/person.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    float: left;
    height: 9%;
    width: 9%;
    margin: 0.5%;
    position: relative;
    opacity: 1;
    &:after {
        content: attr(data-index);
    }
}

.type_gender0 {
    background: $color-male-light;
    color: $color-black;
}

.type_gender1 {
    background: $color-male-alt;
    color: $color-white;
}

.type_gender2 {
    background: $color-male;
    color: $color-white;
    ;
}

.type_gender3 {
    background: $color-female;
    color: $color-white;
}

.type_gender4 {
    background: $color-female-alt;
    color: $color-white;
}

.type_gender5 {
    background: $color-female-light;
    color: $color-black;
}
