/* ============================================================
    Lines BSAS
============================================================ */


.bsas-controls {
    margin-bottom: 10px;

    .ui-autocomplete-input {
        padding: 4px;
        border: 1px solid $color-gray-lighter;
        border-radius: 4px;
    }
    .btn-bsas{
	// margin: 0;
	// padding: 5px 10px;
    }
    > * {
        vertical-align: middle;
    }


    @media screen and (max-width: 500px) {
        > * {
            display: block;
            text-align: center;
            margin: 5px auto;
        }
    }
}

#lines-bsas {
    .vis-y-axis line {
	stroke-width: 0.5px;
	stroke: $color-gray-lighter;
    }
    path {
        fill: none;
    }
    path.alcohol {
        stroke: #F98229;
    }
    path.marijuana {
        stroke: #018571;
    }
    path.none {
        stroke: #005a32;
    }
    path.opioids {
        stroke: #99000d;
    }
    path.other {
        stroke: #762a83;
    }

    .overlay {
        fill: none;
        pointer-events: all;
    }
    .focus.age line {
        stroke-width: 1px;
        stroke: #e0e0e0;
    }
    .focus.alcohol circle {
        fill: #e08214;
        stroke: #b35806;
    }
    .focus.alcohol {
        fill: #b35806;
    }
    .circle.alcohol {
        fill: #e08214;
        fill-opacity: 0.75;
    }
    .focus.marijuana circle {
        fill: #80cdc1;
        stroke: #018571;
    }
    .focus.marijuana {
        fill: #018571;
    }
    .circle.marijuana {
        fill: #80cdc1;
        fill-opacity: 0.75;
    }
    .focus.none circle {
        fill: #238b45;
        stroke: #005a32;
    }
    .focus.none {
        fill: #005a32;
    }
    .circle.none {
        fill: #238b45;
        fill-opacity: 0.75;
    }
    .focus.opioids circle {
        fill: #cb181d;
        stroke: #99000d;
    }
    .focus.opioids {
        fill: #99000d;
    }
    .circle.opioids {
        fill: #cb181d;
        fill-opacity: 0.75;
    }
    .focus.other circle {
        fill: #9970ab;
        stroke: #762a83;
    }
    .focus.other {
        fill: #762a83;
    }
    .circle.other {
        fill: #9970ab;
        fill-opacity: 0.75;
    }
    .focus text {
        font-size: 11px;
        font-weight: bolder;
    }
}
#toggleOpioidsY2000, #toggleOpioidsY2015{
    background: white;
    border: white;
    border-width: 0px;
    color: #337ab7;
    text-decoration: underline;
    cursor: pointer;
    
    box-shadow: none;
    padding: 0px 0px;
}