/* ============================================================
    Lines Fent
============================================================ */
#fentanyl-lines {

}

// // .domain {
// //     fill: none;
// //     stroke: $color-white;
// //     stroke-opacity: 1;
// //     stroke-width: 0px;
// // }

// .y.axis_fent line {
//     fill: none;
//     stroke: $color-white;
//     stroke-width: 1px;
//     opacity: 1;
//     shape-rendering: crispEdges;
// }

.unfocused {
    stroke-opacity: 100% !important;
    stroke-width: 1px !important;
    stroke-dasharray: 1, 1, 1, 1 !important;
}

.focused {
    stroke-width: 4px !important;
    stroke-opacity: 100%;
    stroke-dasharray: none !important;
}

.focus circle {
    fill: $color-white;
    fill-opacity: 1;
}

.fentanyl_ {
    border-bottom: 4px solid $color-secondary;
}

.heroin_ {
    border-bottom: 4px solid $color-primary;
}


#fentanyl-lines.svg-container {
    padding-bottom: 60%;
}
