/* ============================================================
    Lines Death
============================================================ */
.line-death {
    stroke: #CCC;
    fill: none;
    stroke-opacity: 40%;
    stroke-width: 2px;
    stroke-dasharray: 2, 2;
}

.usa {
    color: $color-black;
    stroke: $color-black;
    stroke-width: 2.5px;
    stroke-opacity: 75%;
    stroke-dasharray: 3, 3;
}

.massachusetts {
    color: $color-primary;
    stroke: $color-primary;
    stroke-width: 2.5px;
    stroke-opacity: 100%;
    stroke-dasharray: none;
}

.unfocused {
    stroke-opacity: 20% !important;
    stroke-width: 0.5px;
}

.focused {
    stroke-width: 4px !important;
    stroke-opacity: 100%;
    stroke-dasharray: none !important;
}

.MDG {
    stroke: #2A2A2A;
    fill: none;
    stroke-opacity: 100%;
    stroke-width: 1px;
}

.aside-ma {
    fill: $color-primary;
    font-weight: 500;
}
.aside-usa {
    font-weight: 500;
}
