/* ============================================================
  Map
============================================================ */

// .range {
//     position: relative;
//     width: 90%;
// }


// #fromYear,
// #toYear {
//     color: $color-primary;
// }

// #fromYear2,
// #toYear2 {
//     color: $color-female;
// }

// .year {
//     font-weight: bolder;
// }


// .label {
//     font-size: 2em;
// }

// @mixin label {
//     color: $color-gray-lighter;
//     position: absolute;
//     top: -10px;
// }


// #from {
//     @include label;
//     left: -10px;
// }

// #to {
//     @include label;
//     right: -10px;
// }



input {
    position: relative;
    &[type=range] {
        -webkit-appearance: none;
        &::-webkit-slider-runnable-track {
            width: 50px;
            height: 3px;
            background: $color-gray-lighter;
            border: none;
            border-radius: 3px;
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: 1px solid white;
            border-radius: 50%;
            height: 16px;
            width: 16px;
            background: $color-primary;
            margin-top: -7px;
        }
        &:focus {
            outline: none;
            &::-webkit-slider-runnable-track {
                background: $color-gray-light;
            }
        }
    }
}
