// Color
$color-primary:              #0071bc;
$color-primary-darker:       #205493;
$color-primary-darkest:      #112e51;

$color-primary-alt:          #02bfe7;
$color-primary-alt-dark:     #00a6d2;
$color-primary-alt-darkest:  #046b99;
$color-primary-alt-light:    #9bdaf1; // lighten($color-primary-alt, 60%)
$color-primary-alt-lightest: #e1f3f8; // lighten($color-primary-alt, 90%)

$color-secondary:            #b71c1c;

$color-white:                #ffffff;
$color-black:                #000000;

$color-gray:            	#5a707a;
$color-gray-light:          #5a707a;
$color-gray-lighter:    	#B0BEC5;
$color-gray-dark:     		#455A64;
$color-gray-lightest:		#ECEFF1;

//Red & Blue
$color-female:				#b71c1c;
$color-female-alt:			#ff5252;
$color-female-light:		#ffcdd2;
$color-male: 				#1A237E;
$color-male-alt:			#2196F3;
$color-male-light:			#BBDEFB;

// // Typography


$font-sans:           'Helvetica Neue','Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$font-serif:          "Roboto Slab", 'Merriweather', 'Georgia', 'Times New Roman', serif;

// $em-base:             10px;
// $base-font-size:      rem(17px);
// $small-font-size:     rem(14px);
// $lead-font-size:      rem(20px);
// $title-font-size:     rem(52px);
// $h1-font-size:        rem(50px);
// $h2-font-size:        rem(30px);
// $h3-font-size:        rem(20px);
// $h4-font-size:        rem(17px);
// $h5-font-size:        rem(15px);
// $h6-font-size:        rem(13px);
// $base-line-height:    1.5;
// $heading-line-height: 1.3;
// $lead-line-height:    1.7;

// $font-normal:         400;
// $font-bold:           700;
