@import 'variables';
@import 'accordion';
@import 'button';
@import 'vis-components';
@import 'maps-substance';
@import 'lines-death';
@import 'lines-fent';
@import 'lines-bsas';
@import 'blocks-gender';
@import 'blocks-substance-bar';
@import 'bars-age';
@import 'bars-race';
@import 'responsive-svg';
@import 'video';



//remove this when publish
.placeholder{
    font-size: 12px;
    color: $color-gray-light;
    font-style: italic;
}
/* ============================================================
  Nav
============================================================ */

.h1-sm {
    font-size: 30px;
}

#alert {
    color: yellow;
    top: 0;
    position: absolute;
}

#navbar-main {
    /* Added `.affix-top` class css when the element is top */
    &.affixed-top {
        background: $color-black;
    }
    //Added `.affix` class css when the element is >= 170px (Look: line 8 html)
    &.affix {
        background: gray;
        top: 0;
        left: 0;
        right: 0;
    }
    /* Added `.affix-bottom` class css when the element is footer */
    &.affix-bottom {
        background: red;
    }
}

.navbar-inverse {
    background-color: $color-primary-darker;
    border-color: $color-black;
}

#current-section {
    margin-top: 4px;
    display: block;
}


/* ============================================================
  SECTIONS
============================================================ */

.h1-sm {
    font-size: 30px;
}

.module:last-child {
    margin-bottom: 0;
}

.module h2 {
    margin-bottom: 40px;
    font-family: $font-serif;
    font-size: 30px;
}

.module p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}

.module p:last-child {
    margin-bottom: 0;
}

.module.content {
    padding: 40px 0;
}

.module.parallax {
    color: $color-white;
    padding: 50px 0;
    background-position: center bottom;
    background-size: cover;
}

.module.parallax h1 {
    font-size: 38px;
    line-height: 1;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0 0 10px $color-white;
}

.module.parallax-1 {
    padding: 0;
    margin: auto;
    background-color: $color-black;
}

.module.parallax-2 {
    /*  color: $color-black;*/
    background-image: url("../img/addiction.png");
}

.module.parallax-1-1 {
    background-image: url("../img/chapter55.jpg");
}

.module.parallax-3 {
    background-image: url("../img/prescription.jpg");
}

.module.parallax-4 {
    background-image: url("../img/populations.png");
}

.module.parallax-5 {
    background-image: url("../img/future.jpg");
}

#top {
    padding: 0;
}

.module h2 {
    font-size: 23px;
}

@media all and (min-width: 600px) {
    .module p {
        font-size: 20px;
    }
}

@media all and (min-width: 768px) {
    .module.parallax h1 {
        font-size: 80px;
    }
    .navbar-text {
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }
    #current-section {
        display: none;
    }
    .neg-space-col-md {
        margin-top: -30px;
    }
}

@media all and (min-width: 991px) {
    .module.parallax {
        padding: 150px 0;
    }
    .module.parallax h1 {
        font-size: 80px;
    }
    .module h2 {
        font-size: 28px;
    }
    #current-section {
        display: none;
    }
    .neg-space-col-md {
        margin-top: -30px;
    }
    #top {
        padding: 0;
    }
    .header-vid-space {
        margin-top: 20px;
    }
    .space-col {
        height: 100px;
        width: 100%;
    }
}

@media all and (min-width: 1440px) {
    .module.parallax h1 {
        font-size: 100px;
    }
    .module.parallax {
        padding: 220px 0;
    }
    #current-section {
        display: none;
    }
    #top {
        padding: 50px 0 0;
    }
    .neg-space-col-md {
        margin-top: -100px;
    }
    .header-vid-space {
        margin-top: 0px;
    }
    .space-col {
        height: 100px;
        width: 100%;
    }
}

.wrapper {
    background-color: $color-black;
}

.content {
    background-color: $color-white;
}

.overlay-container {
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 1;
}

.video-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    overflow: hidden;
}

video {
    width: 100%;
    z-index: -1;
}

.callout {
    background-color: $color-gray-lightest;
    border: 1px solid darken($color-gray-lightest, 8%);
    color: $color-black;
    padding: 19px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
    .h3-sm {
        font-size: 1.5em;
    }
    a {
        color: $color-primary-darker;
    }
}

.expandable {
    padding: 3px 5px;
    border-bottom: 3px solid $color-gray-light;
    display: inline;
    cursor: pointer;
}

.expandable:hover {
    background-color: $color-gray-light;
    color: $color-white;
}

.neg-space-col {
    margin-top: -30px;
}

.neg-space-col-lg {
    margin-top: -150px;
}

#odInfographic {
    max-width: 260px;
    max-height: 260px;
    svg {
        width: 100%;
    }
}

.center {
    text-align: center;
    margin: auto;
}

.title {
    color: $color-gray-dark;
    font-weight: normal;
}

.subtitle {
    color: $color-gray-dark;
    font-size: 12px;
    font-weight: normal;
}

.source {
    color: $color-gray;
    font-size: 11.5px;
    text-align: left;
    padding-top: 10px;
    a {
        font-style: normal;
        color: $color-primary;
        text-decoration: underline;
    }
}

.sourcecallout {
    color: $color-gray-dark;
    font-size: 11.5px;
    text-align: left;
    padding-top: 10px;
    a {
        font-style: normal;
        text-decoration: underline;
        color: $color-primary-darker;
    }
}


/* ============================================================
  Footer
============================================================ */

.logo {
    display: block;
    max-width: 150px;
}

footer {
    color: $color-white;
    padding: 30px;
    background-color: $color-gray-dark;
}

.sources-section {
    background: #333333;
    color: #ffffff;
    padding: 5em 0;
}

.page-scroll sup {
    font-size: 60%;
    color: $color-primary-darker;
}

.sources-section li {
    background: transparent;
    transition: background 250ms ease-in-out;
}

.sources-section li:target {
    background: rgba(255, 255, 255, 0.1);
}
